@using SicossLectorWebConfig
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container body-content">
        @Html.Hidden("layoutRutaServidor", VariablesWebConfig.ServerURL)
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Examen Tecnico</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/javascript/Pages/theme.custom.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script src="~/Scripts/javascript/Pages/Constastes.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("stylesheets", required: false)
</body>
</html>
